#############################################
#  The Hugo Interactive Fiction Library:    #
#  https://github.com/tajmone/hugo-library  #
#############################################

* text=auto

*.h   text
*.g   text

*.sh  text eol=lf

.editorconfig  text eol=lf
.gitattributes text eol=lf
.travis.yml    text eol=lf

# EOF #
