#############################################
#  The Hugo Interactive Fiction Library:    #
#  https://github.com/tajmone/hugo-library  #
#############################################

* text=auto

## Hugo Source Files
####################
[attr]Hugo text linguist-language=Hugo gitlab-language=Hugo
*.hug   Hugo
*.h     Hugo
*.g     Hugo


## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitlab-ci.yml   text eol=lf
.gitmodules      text eol=lf
.travis.yml      text eol=lf

## Documentation Files
######################
*.md      text
*.txt     text
LICENSE   text

## Shell Scripts
################
*.bat   text eol=crlf
*.com   text eol=crlf
*.sh    text eol=lf
*.ps1   text eol=crlf

# EOF #
